/* Below are the primary stylings used in this calculator */
/* Main Components are Capitalized */
/* Smaller components are camel-case */

:root {
  --primary-color: #5AB6CB;
  --secondary-color: #1392B0;
  --third-color: #025B70;
}

/* Roboto Font Import */ 

@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Regular');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-ThinItalic.ttf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/Fonts/Roboto/Roboto-BlackItalic.ttf');
  font-weight: 900;
  font-style: normal;
}


/* Main Header Block  */

.Header {
  display: block;
  width: 100vw;
  min-height: 100px;
  z-index: 10000;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}
/* Header Content (95% of Main Header Block's width */

.headerContent {
  display: block;
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Header Icons */

.logo {
  display: block;
  width: 50%;
  height: auto;
  float: left;
}
.logo img {
  display: block;
  margin-top: 20px;
}
.menu svg {
  display: block;
  float: right;
  margin-top: 35px;
  cursor: pointer;
  transform: scale(0.95)
}
.menu svg path {
  transition: 0.2s all ease;
}
.menu:hover svg path {
  fill: #025B70;
}
.landingPageVideoWrapper {
  display: block;
  width: max-content;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}
/* Landing Page Video */
.landingPageVideo {
  display: block;
  width: 980px;
  height: 400px;
  background: #eee;
  margin-left: auto;
  margin-right: auto;
}

/* Border Button */

.borderButton {
  display: block;
  position: relative;
  width: 150px;
  height: 50px;
  background: transparent;
  border: 1px solid #1392B0;
  color: #025B70;
  cursor: pointer;
}
.borderName {
  display: block;
  position: absolute;
  width: max-content;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  transition: 0.2s all linear;
}

.borderButton:hover {
  background: #1392B0;
  border: none;
  color: #F4F4F4;
}

/* Side Bar Styling */

.sideBar {
  display: block;
  position: fixed;
  top: 125;
  left: 0;
  width: 100vw;
  height: 0px;
  overflow: hidden;
  background: #1392B0;
  z-index: 10;
  transition: 0.2s height ease;

  /* Inner Shadow for Depth  */
  -webkit-box-shadow: inset 0px 10px 4px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 10px 4px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 10px 4px 0px rgba(0,0,0,0.1);
}
.sideBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.sideBarLinksWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  height: max-content;
  margin-top: 40px;
  margin-left: 0;
  transform: scale(0.95);
}
.sideBarLink {
  display: block;
  width: max-content;
  height: auto;
  text-align: right;
  cursor: pointer;

  /* Variables for ::after border and span transform */
  --span-transform: translateX(0px);
  --span-after-transform: translateX(0px);
  --span-after-border: 5px solid #f0f0f0;
}
.sideBarLink:hover {
  --span-transform: translateX(2.5px);
  --span-after-transform: translateX(-2.5px);
  --span-after-border: 5px solid #025B70;
}

.sideBarLink span {
  display: inline-block;
  width: max-content;
  height: auto;
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;
  text-align: right;
  color: #FAFAFA;
  transform: var(--span-transform);
  transition: 0.2s all ease;
}
.home-button-wrapper {
  display: block;
  width: max-content;
  height: max-content;
  float: right;
  margin-left: 25px;
  margin-top: 38px;
  cursor: pointer;
}
.home-button-wrapper svg path {
  transition: 0.2s all ease;
}
.home-button-wrapper:hover svg path{
  fill: #025B70;
}