/* Below are the primary stylings used in this calculator */
/* Main Components are Capitalized */
/* Smaller components are camel-case */

:root {
  --primary-color: #5AB6CB;
  --secondary-color: #1392B0;
  --third-color: #025B70;
}

/* Header Styling  */

.Header {
  display: block;
  width: 100vw;
  min-height: 100px;
  background-color: var(--primary-color);
}
.headerContent {
  display: block;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: block;
  width: 50%;
  height: auto;
  float: left;
}
.logo img {
  display: block;
  margin-top: 20px;
}